In [5]:
import pandas as pd
import numpy as np

In [53]:
CONTENT_PATH = 'data/'

In [3]:
content = pd.read_csv("data/content.csv")
content.head()

,content_uid,name,type,serial_id,genres,duration_seconds
0,9882,"""Шоу ""Студия ""Союз""",serial_with_season,NaN,"Игровое шоу,Музыка",NaN
1,13701,"""Шоу ""Студия ""Союз""",episode,9882.0,NaN,2823.0
2,12274,"""Шоу ""Студия ""Союз""",episode,9882.0,NaN,2694.0
3,13579,"""Шоу ""Студия ""Союз""",episode,9882.0,NaN,2739.0
4,18055,"""Шоу ""Студия ""Союз""",episode,9882.0,NaN,2887.0

In [4]:
content.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17297 entries, 0 to 17296
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   content_uid       17297 non-null  int64
 1   name              17297 non-null  object
 2   type              17297 non-null  object
 3   serial_id         13466 non-null  float64
 4   genres            16023 non-null  object
 5   duration_seconds  16902 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 810.9+ KB

In [6]:
np.unique(content['type'], return_counts=True)

(array(['episode', 'movie', 'serial_with_season', 'serial_without_season'],
       dtype=object),
 array([13466,  3146,   669,    16], dtype=int64))

In [8]:
history = pd.read_csv('data/watch_history.csv')
history.head()

   user_uid  content_uid  second
0         1        26719     400
1         1        11882     627
2         1        26174    5693
3         4        28436     828
4         4         3836      64

In [9]:
history.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1286131 entries, 0 to 1286130
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   user_uid     1286131 non-null  int64
 1   content_uid  1286131 non-null  int64
 2   second       1286131 non-null  int64
dtypes: int64(3)
memory usage: 29.4 MB

In [11]:

content[content['type'] == 'serial_with_season']['duration_seconds'].isna().sum()

318

In [15]:
content["duration_seconds"].isna().sum()

395

In [18]:
content.groupby(by=['type']).agg(
    count_nan = pd.NamedAgg(column='duration_seconds', aggfunc=lambda x: x.isna().sum())
)

                       count_nan
type
episode                      0.0
movie                       68.0
serial_with_season         318.0
serial_without_season        9.0

In [44]:
miss_duratiom = content[(content['type'] == 'movie') &
                        (content['duration_seconds'].isna() )]['content_uid'].to_list()
print(miss_duratiom)

[22864, 6070, 26933, 5713, 25226, 4001, 30796, 5726, 27481, 4464, 4463, 25091, 9573, 3248, 24973, 27969, 2771, 26421, 29372, 26674, 25352, 8232, 3410, 24788, 26526, 27785, 24786, 26067, 2743, 24812, 8556, 26780, 26562, 27109, 26784, 25245, 8224, 26446, 5880, 2156, 5079, 2145, 7321, 29018, 24908, 26205, 2263, 1666, 26995, 27485, 2711, 27764, 3887, 27515, 3928, 27136, 24994, 7357, 26005, 26910, 27135, 24650, 24828, 4670, 15821, 4857, 26214, 4037]

In [42]:
history2 =  history.set_index('content_uid')
history2.iloc[miss_duratiom]

             user_uid  second
content_uid
26055           23090     230
14147            6117    2829
10965           27182    3167
3498             5764    4162
7250            25458    5343
...               ...     ...
7562             4697     235
28834           15954    2802
7846             4894     753
3352            26450     300
27597            4062    5359

[68 rows x 2 columns]

In [54]:
miss = content[(content['type'] == 'movie') &
                        (content['duration_seconds'].isna() )][['content_uid', 'name', 'duration_seconds']]
miss.to_csv(f'{CONTENT_PATH}missed_movies.csv')