In [1]:
import pandas as pd
from scipy import sparse
from preprocessing.duration_matrix import DurationSparseMatrix

In [2]:
CONST_PATH = '../data/postprocessing/'

In [3]:
user_genres = pd.read_csv(f'{CONST_PATH}users_genres.csv', index_col=0)
user_content_type = pd.read_csv(f'{CONST_PATH}user_content_types.csv', index_col=0)

In [4]:
# user_content_type['total'] = user_content_type.apply(sum, axis=1)
# user_content_type.head()

In [5]:
# user_content_type.iloc[:, :3] = user_content_type.iloc[:, :3].apply(lambda col: col / user_content_type.total)
# user_content_type.head()

In [6]:
# content = pd.read_csv(f'{CONST_PATH}content.csv', index_col='content_uid')
# duration_films = content.duration_seconds.sum()
# duration_films

In [7]:
# user_content_type['total'] = user_content_type['total'] / duration_films

# user_content_type.head()

In [8]:
# user_content_type.to_csv(f'{CONST_PATH}user_content_types.csv')

In [9]:
user_content_type.head()

    serial_with_season     movie  serial_without_season     total
1             0.000000  1.000000                    0.0  0.000159
4             0.560689  0.439311                    0.0  0.001277
25            0.026995  0.973005                    0.0  0.000584
43            0.000000  1.000000                    0.0  0.000016
45            0.000000  1.000000                    0.0  0.000341

In [10]:
USER_ID = 1
from scipy.spatial.distance import cosine

In [11]:
type_similarity = user_content_type.drop(USER_ID, axis=0)\
    .apply(lambda row: cosine(user_content_type.loc[USER_ID], row), axis=1)

In [12]:
type_similarity.sort_values().head(30)

605244     0.000000e+00
362393     0.000000e+00
19018      0.000000e+00
724983     0.000000e+00
869296     0.000000e+00
775050     2.220446e-16
923905     2.220446e-16
312166     2.220446e-16
729758     2.220446e-16
1291955    2.220446e-16
304659     2.220446e-16
370157     4.440892e-16
429414     4.440892e-16
1147828    4.440892e-16
148514     4.440892e-16
574284     4.440892e-16
1301196    4.440892e-16
874357     4.440892e-16
1255841    1.110223e-15
1143112    1.110223e-15
1087203    1.110223e-15
835498     1.110223e-15
1147315    1.110223e-15
766053     1.110223e-15
1095481    1.110223e-15
376489     1.110223e-15
848568     1.110223e-15
849176     1.110223e-15
120590     1.110223e-15
704852     1.110223e-15
dtype: float64

In [13]:
from sklearn.metrics import mean_absolute_error

In [14]:
user_genres.head()

,игровой,шоу,музыка,комедия,мелодрама,драма,комедийный,фэнтезийный,боевик,приключение,...,молодёжь,детский,ситком,индонезия,психологический,увлечение,досуг,концерт,скетчкома,интервью
user_uid,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.000000,0.000000,0.000279,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.049363,0.032834,0.008594,0.071109,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,0.0,0.0,0.0,0.001605,0.017503,0.007438,0.021509,0.0,0.031750,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,0.0,0.0,0.0,0.001068,0.000154,0.000043,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45,0.0,0.0,0.0,0.002621,0.004902,0.002969,0.004042,0.0,0.013513,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:

genre_similarity = user_genres.drop(USER_ID, axis=0)\
    .apply(lambda row: mean_absolute_error(user_genres.loc[USER_ID], row), axis=1)

In [16]:
genre_similarity.sort_values().head(30)

user_uid
402493     0.000082
514624     0.000094
658413     0.000094
996666     0.000094
369318     0.000094
397197     0.000094
1032037    0.000094
507125     0.000094
726339     0.000094
824485     0.000095
359168     0.000095
760809     0.000095
1257273    0.000095
444728     0.000097
474652     0.000099
80682      0.000100
1275000    0.000101
931619     0.000101
925573     0.000101
1081504    0.000102
708623     0.000102
610436     0.000102
474658     0.000102
1202466    0.000102
132383     0.000102
1088610    0.000102
21899      0.000102
1020695    0.000103
882503     0.000103
380697     0.000103
dtype: float64

In [17]:
similar_users = (genre_similarity * type_similarity).sort_values().head(1000).index
similar_users

Int64Index([ 724983,  869296,  605244,  362393,   19018,  775050,  729758,
             923905,  429414,  304659,
            ...
             939880,  415129,  410420,  762492, 1066552,  662191, 1096628,
             418667,  231010,  422946],
           dtype='int64', name='user_uid', length=1000)

In [18]:
dsm = DurationSparseMatrix()
history, content = dsm.read_info()
user_films = dsm.get_matrix_part(similar_users)

In [19]:
user_films

,9882,19870,2312,12655,25771,25051,24954,25990,24886,27927,...,24651,9457,25436,8768,27597,20786,4037,10201,27405,10190
724983,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
869296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
605244,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
362393,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19018,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662191,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1096628,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
418667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
231010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
422946,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
our_user = dsm.get_matrix_part([USER_ID])
our_user

,9882,19870,2312,12655,25771,25051,24954,25990,24886,27927,...,24651,9457,25436,8768,27597,20786,4037,10201,27405,10190
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
dif_films = user_films.apply(lambda row: row - our_user.iloc[0], axis=1)
dif_films

,9882,19870,2312,12655,25771,25051,24954,25990,24886,27927,...,24651,9457,25436,8768,27597,20786,4037,10201,27405,10190
724983,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
869296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
605244,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
362393,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19018,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662191,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1096628,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
418667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
231010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
422946,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
top_films = list()

for col, values in dif_films.iteritems():
    for value in values:
        if value == 1:
            top_films.append(col)

In [23]:
top_films

[26482,
 26482,
 25793,
 25793,
 25793,
 25794,
 18399,
 18399,
 18399,
 18399,
 18399,
 18399,
 18399,
 18399,
 18399,
 18399,
 18399,
 18399,
 18399,
 18399,
 13011,
 17545,
 27996,
 9791,
 28965,
 25943,
 9843,
 5097,
 5097,
 12120,
 12746,
 5121,
 5121,
 5121,
 5121,
 26329,
 11728,
 29059,
 9910,
 24566,
 25719,
 27091,
 3489,
 25231,
 7834,
 27866,
 11285,
 27552,
 29014,
 29014,
 29014,
 2043,
 25304,
 27098,
 9439,
 27686,
 24568,
 24568,
 24568,
 25838,
 25838,
 25838,
 15104,
 26718,
 3340,
 28170,
 12914,
 14917,
 7350,
 27717,
 25035,
 25807,
 28150,
 26361,
 26405,
 27139,
 25468,
 5274,
 4708,
 5133,
 10993,
 27610,
 26656,
 27015,
 4564,
 4564,
 4564,
 4564,
 4564,
 4564,
 4564,
 26142,
 26142,
 24634,
 27754,
 25444,
 25444,
 10736,
 7263,
 10895,
 5315,
 5315,
 5315,
 5315,
 5315,
 10258,
 11518,
 24688,
 26595,
 10856,
 10856,
 26746,
 25073,
 1575,
 25180,
 13565,
 13565,
 13565,
 13565,
 1650,
 10151,
 11020,
 27274,
 27103,
 24776,
 24723,
 25329,
 25329,
 19210,
 19210,
 19210,
 26153,
 26153,
 26153,
 26153,
 18023,
 25988,
 26748]

In [24]:
content.loc[set(top_films), 'name'].values

array(['Возмездие', 'Меченосец', 'Интимные места', 'Неваляшка',
       'Райские холмы', 'Джек - убийца великанов', 'План побега',
       'Операция «Ы» и другие приключения Шурика', 'Запределье', 'Свои',
       'Чудо', 'Плюс один', 'Битва за землю', 'Их первая ночь',
       'Королева', 'Скиф', 'Иваново детство', 'Простая просьба',
       'Не может быть!', 'Шугалей', 'Самый пьяный округ в мире',
       'Про любовь', 'Ржев', 'Исходный код', 'Вилли и крутые тачки',
       'Смешарики. Начало', 'Глотай', 'Сбежавшая невеста', 'Я худею',
       'Батя', 'Тёмный мир: Равновесие', 'Двое - это слишком',
       'Профессионал', 'Холодное лето пятьдесят третьего...',
       'Девять жизней', 'Моя госпожа', 'Выжившая',
       'Когда санта упал на землю', 'Halo 4: Идущий к рассвету',
       'Halo: Сумерки', 'Пурга', 'Хардкор', 'Кто, если не мы',
       'Астерикс на Олимпийских играх', 'З/Л/О', 'Война миров',
       'Дед, привет!', 'Замерзшая из Майами', 'Зачётный препод 2',
       'Новогодний ремонт', 'Хоть раз в жизни',
       'Лето. Одноклассники. Любовь', 'Смoтри Кино и ТВ', 'Рейд',
       'Золотой ключик', 'Чудо', 'Иллюзия обмана', 'Телохранитель',
       'Брат', 'Максим Перепелица', 'Дурацкое дело нехитрое',
       'В метре друг от друга', 'Возвращение', 'Берлинский синдром',
       'Прозрение', '100 вещей и ничего лишнего', 'Монах и бес',
       'Ворошиловский стрелок', 'Эспен в поисках Золотого замка',
       'Охотники', 'Дитя робота', 'Гость',
       'Снежная королева 3: Огонь и лёд', 'Возвращение героя',
       'Корпорация «Святые моторы»', 'Вооруженный ответ',
       'Глубоководный горизонт', 'Пипец', 'За спичками',
       'Ограбление века', 'А зори здесь тихие...', 'Ученик',
       'Самогонщики', 'Вне/себя', 'Проклятый сезон',
       'Свадьба в Малиновке', 'Выпускной', 'Куриоса', 'Зачётный препод',
       'Жадность'], dtype=object)

### Валидация

In [46]:
VAL_ID = 1024395

comb_df = pd.concat([user_content_type, user_genres], axis=1)

In [47]:
similarity = comb_df.drop(VAL_ID, axis=0)\
    .apply(lambda row: cosine(comb_df.loc[VAL_ID], row), axis=1)

In [48]:
# type_similarity = user_content_type.drop(VAL_ID, axis=0)\
# .apply(lambda row: cosine(user_content_type.loc[VAL_ID], row), axis=1)

In [49]:
# genre_similarity = user_genres.drop(VAL_ID, axis=0)\
#     .apply(lambda row: mean_absolute_error(user_genres.loc[VAL_ID], row), axis=1)

In [50]:
similar_users = similarity.sort_values().head(20000).index
# similar_users = (genre_similarity * type_similarity).sort_values().head(20000).index

In [51]:
dsm = DurationSparseMatrix()
history, content = dsm.read_info()
user_films = dsm.get_matrix_part(similar_users)

In [52]:
user_films

,9882,19870,2312,12655,25771,25051,24954,25990,24886,27927,...,24651,9457,25436,8768,27597,20786,4037,10201,27405,10190
849982,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1097097,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
111630,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
905494,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1153701,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1083349,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
195707,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1282448,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1075689,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
562916,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
our_user = dsm.get_matrix_part([VAL_ID])
our_user

,9882,19870,2312,12655,25771,25051,24954,25990,24886,27927,...,24651,9457,25436,8768,27597,20786,4037,10201,27405,10190
1024395,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000355,0.0,0.0

In [54]:
import random

watched_films = our_user.transpose()[our_user.transpose()[VAL_ID] > 0].index
validation_films = random.sample(set(watched_films), 50)
validation_films

[19745,
 24584,
 9643,
 2973,
 27798,
 12780,
 24557,
 14142,
 10187,
 9761,
 27229,
 29609,
 16895,
 5792,
 1095,
 1877,
 10225,
 27594,
 8810,
 9799,
 7530,
 8272,
 9136,
 28909,
 7387,
 28827,
 5808,
 9948,
 30533,
 26877,
 9975,
 15849,
 29218,
 26985,
 18399,
 1185,
 27141,
 10201,
 24667,
 5315,
 25231,
 9150,
 27998,
 26365,
 24816,
 11463,
 24574,
 18388,
 25935,
 10635]

In [55]:
len(watched_films)

84

In [56]:
our_user[validation_films] = 0
our_user[validation_films]

,19745,24584,9643,2973,27798,12780,24557,14142,10187,9761,...,25231,9150,27998,26365,24816,11463,24574,18388,25935,10635
1024395,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [57]:
dif_films = user_films.apply(lambda row: row - our_user.iloc[0], axis=1)
dif_films

,9882,19870,2312,12655,25771,25051,24954,25990,24886,27927,...,24651,9457,25436,8768,27597,20786,4037,10201,27405,10190
849982,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1097097,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
111630,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
905494,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1153701,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1083349,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
195707,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1282448,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1075689,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
562916,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [58]:
user_content_type.loc[VAL_ID]

serial_with_season       0.681718
movie                    0.318282
serial_without_season    0.000000
total                    0.003678
Name: 1024395, dtype: float64

In [59]:
top_films = list()
mean_dur = list()

for col, values in dif_films.iteritems():
    genre = content.loc[col, 'type']
    for value in values:
        if value == 1:
            if col in top_films:
                continue
            mean_dur.append(user_films[col].sum() * user_content_type.loc[VAL_ID, genre])
            top_films.append(col)

In [60]:
sorted_top_filmes = pd.DataFrame(data=[top_films, mean_dur]).transpose().sort_values(by=1, ascending=False)[0].values
sorted_top_filmes

array([ 9040.,  7247., 13565.,  9799.,  3813.,  1389., 28028.,  4609.,
        9725.,  9391., 10141.,  9322., 28019.,  9044.,  9861.,  9847.,
       12268.,  1628.,  6494., 15849., 12303.,  6192.,  7284.,  3006.,
       28909.,  4785., 12642.,  5533.,  9719.,  7386.,  7373.,  9623.,
        7541., 29863.,  6183., 19105.,  8520., 10157.,  5792., 28211.,
        9910., 11463., 15389.,  9676.,  1095.,  9050., 10216.,  9761.,
       18023.,  9786., 27045., 28150., 10996.,  2826.,  9088., 28284.,
       16895., 17545., 12350., 10884.,  5206., 11627.,  8768., 18399.,
       28222.,  1378.,  7559., 10190., 26474., 25857., 15538.,  1650.,
        5355., 10463., 25537., 12636.,  7834., 24844.,  9791., 10465.,
       12120., 12299., 28104., 10237., 28096.,  7705.,  9627.,  8272.,
        3961.,  4359., 25794., 27885., 26190., 12252., 27873., 28090.,
       24742., 25793., 28961., 26256., 25719., 11728., 26614., 18823.,
       24093., 26938.,  5315.,  6267.,  3486., 25670., 28436., 10795.,
        5182., 25468., 30266.,  7351., 10635.,  7447., 25010.,  9794.,
        7235.,  4563., 12471., 25740.,  9957., 25002., 25776., 21959.,
       26547., 24816.,  1877.,  3002., 26621., 10151.,  9652., 29440.,
       10250., 25991.,  2849., 26909.,  7417.,  1607.,  8361.,  8810.,
       27113., 24860., 10179., 16008., 21026.,  3122.,  8552.,  7790.,
        5204., 25393., 10172., 27633., 12672., 28965., 25988., 12302.,
       25459.,  7480., 27762.,  5807., 27552., 26517.,  1514., 27015.,
       28167.,  2973., 12325., 25426.,  9843., 27632., 21655., 15005.,
        3440., 19035.,  8518., 12502., 26061., 15031., 26505., 24776.,
       29442., 20280., 26257., 25643., 26595., 26143.,  2710.,  2137.,
       24924., 29850., 12746., 28966., 25684., 25895., 20919., 24626.,
       11285.,  7680., 12077., 24653.,  1747., 24739.,  4564., 26353.,
       26111., 12122., 12128., 27768., 27557., 26003.,  9439., 26482.,
       27423., 25909., 27798., 14604.,  9936., 29743., 26394., 25969.,
        7684., 12655., 27461., 25275., 12780., 18387., 10919.,  3851.,
        8601.,  9865.,  9710., 25679., 26656.,  6234., 24749., 26989.,
       25286.,  3383., 26877., 24808., 15564.,  8226., 28134.,  7263.,
       25626.,  3267., 25324., 19284., 29549., 11900., 25194., 25525.,
       27503., 28885.,  9995., 28829., 25058., 24754.,  4999., 16977.,
       24857.,  9858., 21523., 22148.,  5037.,  5121.,  8988., 27665.,
       24723., 26076., 25624., 26535., 26013., 12914., 25068., 25269.,
       26063.,  9944., 28170., 22893.,  1575., 19406., 26556., 26131.,
       26752., 11057., 15596., 25183., 26129.,  8236.,  9058., 25180.,
       27716.,  4949., 25000., 11518.,  5126., 27272.,  2044., 24554.,
       10993., 26968.,   857., 19317., 13621., 18841., 25804.,  5100.,
       12154., 26338.,  9964., 24632., 11521.,  8747., 27712., 27398.,
        5500., 29006.,  3844.,  3337.,  4782., 19847., 26055., 27002.,
        7390.,  9958., 28195., 24577.,  1692., 26847., 24707.,  5009.,
       22119., 27111., 30035., 25005., 24843., 26023.,  9732., 27763.,
       25232., 11806.,  5148., 28117.,  8725., 26804., 27415., 26454.,
       12218.,  9288., 25080., 10097., 12134., 18319., 25922.,  6541.,
       26883., 22892.,  4447., 25244., 26677.,  6017., 24959., 26175.,
       10892., 27641., 27140., 26828., 25792.,  3457., 27595., 26952.,
       26917.,  6322., 24781., 27005., 25329., 16591.,  8225., 25854.,
       25602., 28132., 25716., 24336., 29613., 25675., 16585.,  3488.,
       29011.,  1674., 10891.,  6197., 24779.,  8567.,  8455., 27091.,
        7425., 27502., 12121., 25770., 24335., 25765.,  7532.,  2878.,
       18412., 19662., 12243., 30687., 24566.,  7773.,  8178., 26057.,
       27786.,  5255., 26889., 24926., 15512.,  4965.,   763., 10148.,
       11389.,  4376.,  9892.,  7556., 25424., 25256., 26523., 26719.,
       26666., 25294.,  6048., 25153., 28119., 24894.,  7309., 25004.,
       25508., 19080., 26052., 26210., 26405., 16491., 27280., 24568.,
       11399., 25073., 14032., 25299.,  5120., 26159., 10895., 26759.,
        7544., 24542., 25128., 27098., 25809.,  3202.,  9602., 26764.,
       25856., 27507., 24734., 27234.,  5727.,  2043., 15090., 10195.,
       26769., 26392.,  7285., 26070.,  9785.,  6154., 27274., 27161.,
       26887.,  9569., 25174., 12474.,  5080.,  7133., 28120.,  7675.,
       26410., 27026., 27793., 27159., 28118., 26140., 27668., 27513.,
        2442., 25368.,  7633., 25033., 25644., 24544.,   700., 25031.,
       24333., 26174.,  9430., 26996., 26413., 28097.,  5532., 24736.,
        8718.,  9857., 13894., 11020., 27597.,  4132., 26161.,  7645.,
       12304.,  6291., 17249.,  3910., 25187., 15583., 27629., 26053.,
       26703., 27456., 26051., 25920., 24334., 26044., 16549., 25431.,
       25721., 26925.,  5133.,  7967., 26108., 26435.,  9448., 27139.,
        2752., 25900.,  1050., 27017., 24862., 25391.,  5623.,  1282.,
        9702., 24697., 24338., 25156., 26704., 25965., 24938., 27436.,
        9848.,  2327.,  5814., 10133., 26142., 25236., 15507., 26263.,
       27590., 24747., 25723., 11882., 26891., 26852.,  4708.,  1983.,
       27137., 26027., 25447.,  7170., 25665., 26781., 21071.,  5706.,
        5498., 26337., 25758., 25507.,  3815., 29085., 25315.,  1352.,
        5075., 25886., 26848., 26155., 12552.,  3148., 25396., 15597.,
        7457., 15623., 25277.,   866.,   414., 24841., 29630., 27467.,
        8231., 22092.,  9930., 29115., 26932., 29493., 26371.,  8492.,
       27153., 21327., 26186.,  1737., 26829., 27083., 29008., 25146.,
        7156., 29839., 18898., 25848., 25089., 26746.,  7290., 28088.,
       25747., 25362.,  6311., 17629., 27224., 24999.,  5095., 25439.,
       13277.,  9601., 25546., 10316., 10845., 25103., 26269., 25941.,
       29665., 26515., 24552., 28139., 16294.,  5545., 25812., 24947.,
       27505., 27610., 24579., 18354., 28153., 25109., 11886.,  5122.,
       29081., 27092., 24569., 26095., 12444., 25301., 22120., 26101.,
        5098., 18917., 28084., 26570., 26645., 26042., 29730.,  9449.,
       26869., 28121.,  4829., 29093., 26483., 24557., 28208., 16548.,
       11323., 28193., 25262.,  8713., 19210.,  3822., 19377., 26540.,
       24834., 26911.,  7847., 26581., 24835., 27151., 25781., 19495.,
        8227., 26728., 26601., 27664., 19092.,  1536., 26154.,  3395.,
       25131., 25075., 26971., 28154., 26615., 27508., 26559., 27154.,
       26112.,  3465.,  4486.,  9542.,  4879., 25609., 27018.,  3390.,
       25592.,  9543., 26727., 24559.,  9587.,  3397., 25034.,  2871.,
       27321., 26395., 14991., 25597.,  3644., 30415., 25934., 26166.,
       18859., 27644.,  1287., 25811.,  5030., 26919., 29373., 26886.,
        9926., 22784., 26724., 17772., 26501.,  9568., 20371., 25268.,
       24830.,  4456., 25254., 25186., 11134., 10067., 26467., 24966.,
       24879., 26632., 12658., 25306., 27446., 13905., 25221., 20780.,
       26814., 26441., 25203., 16599., 25130., 26558., 16555., 27765.,
       24945., 25458., 24759.,  3743.,  7738., 29072., 27540., 16285.,
       29441., 24826.,  8727., 28983.,  6316., 24858., 26073., 19607.,
       26816., 21173., 20799., 25845., 24635.,  3972., 22919., 25858.,
        3218., 26940.,  3282., 27102., 26365.,  5081., 26767., 27639.,
       25191., 28105.,  3302., 25475., 26637., 26110.,  9837., 22117.,
        4592., 15461., 19279., 25051., 10226., 30881., 27022., 26060.,
        9490., 25544.,  4861.,  3803., 16647., 28971., 25720., 27129.,
       27094.,  3345., 24408., 11593.,  8072.,  9560., 26543., 26802.,
        4530., 22945., 24667.,  8266.,  9575., 25364., 24986., 27569.,
       26603., 29005.,  2078., 29083., 26237., 25350.,  7505.,  9411.,
       29521., 27842.,  9931.,  8758., 20018., 27089., 26339., 24564.,
       26012., 26931., 17040., 28098.,  7968., 26340., 25868., 26735.,
       27499., 10166., 19100., 27064., 27667.,  7473., 27868.,  6225.,
       27871., 26469., 25953.,  4027.,  9596., 29548., 25052., 26730.,
        9576., 29078., 12368.,  9597., 25505., 26118., 25746., 25452.,
       27283., 26591., 25223.,  7729.,  7651., 25313., 23965., 10211.,
       10007., 24772., 10173., 28694.,  7688.])

In [61]:
# set(top_films)

In [62]:
# len(set(top_films))

In [63]:
validation_films[0] in top_films

False

In [64]:
len(set(sorted_top_filmes[:50]) & set(validation_films)) / len(set(validation_films))

0.14

In [65]:
user_genres

,игровой,шоу,музыка,комедия,мелодрама,драма,комедийный,фэнтезийный,боевик,приключение,...,молодёжь,детский,ситком,индонезия,психологический,увлечение,досуг,концерт,скетчкома,интервью
user_uid,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.000000,0.000000,0.000279,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.049363,0.032834,0.008594,0.071109,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,0.0,0.0,0.0,0.001605,0.017503,0.007438,0.021509,0.0,0.031750,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,0.0,0.0,0.0,0.001068,0.000154,0.000043,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45,0.0,0.0,0.0,0.002621,0.004902,0.002969,0.004042,0.0,0.013513,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1302880,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1302881,0.0,0.0,0.0,0.045231,0.035032,0.027674,0.101738,0.0,0.010875,0.002365,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1302912,0.0,0.0,0.0,0.000000,0.000000,0.000011,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1302913,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1302914,0.0,0.0,0.0,0.000046,0.000000,0.000067,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [66]:
similarity = comb_df.drop(VAL_ID, axis=0)\
    .apply(lambda row: cosine(user_genres.loc[VAL_ID], row), axis=1)

ValueError: operands could not be broadcast together with shapes (71,) (75,)

In [102]:
from tqdm import tqdm


def pipeline(ids, num_similar_users):
    score = 0
    films = list()
    for i in tqdm(range(len(ids))):
        id = ids[i]
        similarity = comb_df.drop(id, axis=0)\
            .apply(lambda row: cosine(comb_df.loc[id], row), axis=1)
        similar_users = similarity.sort_values().head(num_similar_users).index

        dsm = DurationSparseMatrix()
        history, content = dsm.read_info()
        user_films = dsm.get_matrix_part(similar_users)

        our_user = dsm.get_matrix_part([id])

        watched_films = our_user.transpose()[our_user.transpose()[id] > 0].index
        validation_films = random.sample(set(watched_films), 5)

        our_user[validation_films] = 0

        dif_films = user_films.apply(lambda row: row - our_user.iloc[0], axis=1)

        top_films = list()
        mean_dur = list()

        for col, values in dif_films.iteritems():
            genre = content.loc[col, 'type']
            for value in values:
                if value == 1:
                    if col in top_films:
                        continue
                    mean_dur.append(user_films[col].sum() * user_content_type.loc[id, genre])
                    top_films.append(col)

        sorted_top_filmes = pd.DataFrame(data=[top_films, mean_dur]).transpose()\
            .sort_values(by=1, ascending=False)[0].values[:50]

        films.append(sorted_top_filmes)

        score += len(set(sorted_top_filmes) & set(validation_films)) / len(set(validation_films))

    return films, score / len(ids)

In [106]:
validation_users = user_content_type[user_content_type.total > user_content_type.total.mean() * 70]
validation_users

         serial_with_season     movie  serial_without_season     total
14540              0.794851  0.205149               0.000000  0.022252
45055              0.825139  0.174861               0.000000  0.025007
48621              0.002453  0.997547               0.000000  0.023067
50728              0.967901  0.032099               0.000000  0.039281
126546             0.662838  0.337162               0.000000  0.026871
150517             0.954109  0.045891               0.000000  0.031330
200150             0.229745  0.764392               0.005863  0.024561
453211             0.258159  0.741841               0.000000  0.025981
668391             0.069461  0.930441               0.000098  0.032564
710473             0.573729  0.426271               0.000000  0.028743
894577             0.568217  0.414210               0.017573  0.022800
1114854            0.108661  0.879824               0.011515  0.026184
1161364            0.944775  0.055225               0.000000  0.022683
1161722            0.980649  0.019351               0.000000  0.022362

In [110]:
id_users = random.sample(list(validation_users.index.values), 10)

pipeline(id_users, 500)

100%|██████████| 10/10 [09:43<00:00, 58.37s/it]

([array([15492., 15389.,  9861.,  7244.,  9847., 12642.,  9721.,  9088.,
          7373.,  9322.,  8520.,  6183., 10157., 14606., 14604.,  9451.,
          1628., 14532., 12502., 10190.,  1291.,  5249., 22148., 15432.,
          8396., 11627.,  6494.,  7284.,  7684.,  1389.,  4785.,  5792.,
          5533., 14390.,  7595., 24093., 18579., 15031., 20280., 13565.,
         27045., 28211., 26474.,  3006., 19105., 26256., 28150., 12299.,
         24844., 28222.]),
  array([26474., 28211., 25393.,  9910., 28284., 25857., 24808., 28104.,
         24943., 26059., 25537.,  1607., 25909., 11463.,  3202.,  9858.,
          3002., 26394., 25794.,  9652., 25294., 27045., 26063.,  9843.,
         28966.,  3418.,  9930., 24335., 27097., 11015., 28119., 27140.,
         12672.,  9794., 24776., 13326., 24938., 11728., 26742., 27885.,
         10919., 24803., 25715., 28101.,  9899., 25058.,  9785., 11521.,
         24924., 28120.]),
  array([28211., 26474.,  9910., 11463., 25537., 24844., 26257., 28104.,
         28096., 27552., 27768., 16008.,  7834., 24967., 25988., 28222.,
         11728.,  1514., 24749., 12122., 27015., 25643., 12077., 28090.,
         10258., 12647., 27045., 15389., 27885., 27097.,  1877., 21026.,
         26938., 26843., 24860.,  9652., 25715., 27633., 28150., 26111.,
         13326., 19035., 25530., 13565., 18023., 12471., 25670., 29549.,
         10919.,  9957.]),
  array([19381.,  5756., 10884.,  1628., 15161.,  9061.,  6192., 12350.,
          1095.,  9451., 14606.,  7284., 12502., 12642.,  9847., 25857.,
         15389.,  4852.,  6183.,  5182.,  7595.,  8810., 10465., 28150.,
          3813., 30081.,  7834., 27885., 11463., 25719., 14604.,  9910.,
         24844., 26256., 27045., 29609.,  7684.,  9958., 28090., 10179.,
          5315.,  1877.,  5533., 26257., 26968., 24749., 25537., 18023.,
         26482., 25794.]),
  array([28211.,  2667.,  9910.,  1628., 28284., 11463.,  5182., 26474.,
         24844., 12471., 25857.,  6192., 18023., 26256., 12299., 25537.,
          9041., 28090., 12350., 13565.,  1095., 15161., 10884., 27885.,
          9451.,  7834.,  5756.,  9791.,  1877., 27045., 28222., 12647.,
         28150., 11015.,  7284., 24967.,  9958.,  9627., 11728.,  5315.,
         25859., 26257., 27552., 30081.,  7375., 26111., 12268., 28961.,
         25988., 25793.]),
  array([ 3329.,  1628.,  9041., 10783., 12350.,  1095.,  9451.,  9627.,
         13565., 25857.,  5182.,  9910.,  9044., 27885., 12642., 28284.,
          3006.,  9088., 12471.,  6494., 27632., 27798., 10190., 27045.,
         25719., 28090., 24844., 30081.,  4852., 12299.,  7284.,  5249.,
          5533., 12268.,  5355., 25988., 25537., 18023.,  1389., 28104.,
          9791.,  6267., 27552.,  8810., 24967.,  1514.,  9652.,  7595.,
         29549., 28150.]),
  array([12471., 29549., 27097., 26257., 25988., 24967., 27633., 19035.,
         25530., 25715., 27716., 25423.,  8361.,  2735., 28167.,  9944.,
         25643., 24894., 26764., 27557., 25125., 25809., 12914., 12072.,
         12780., 24339., 26614.,  5807.,  9288., 24904., 24926., 28436.,
         11057.,   833., 10795., 27445., 26130.,  1581., 28134.,  1674.,
          4005.,  5021., 10350., 27671., 26853., 28119., 28204., 29123.,
         11900., 26410.]),
  array([26256., 28211., 26474., 24844., 11463.,  9791., 12299., 28150.,
         18023., 12120.,  3006., 28096., 24554., 25857., 27632., 25988.,
         25794., 12122., 25793., 12647.,  5182., 11015., 26614.,  9794.,
         28104.,  1514.,  2826., 11728., 25670., 24860., 28436.,  5315.,
         25131., 26505., 25246., 27885., 15005., 25719., 10991., 26111.,
         12128., 26257., 29549., 24582., 12077., 24749., 13621., 12471.,
         22900., 13326.]),
  array([ 2667.,  6192., 12350., 15389.,  1628.,  9451., 12268.,  7375.,
          1378., 14606., 29863.,  1095., 30081.,  7595.,  9088.,  7284.,
          6494.,  6183.,  4852.,  6599.,  9719.,  5533., 10884.,  8768.,
         10465., 12642.,  8520., 11627.,  9847.,  5792.,  8810.,  8272.,
         10190., 24093., 12352.,  7684., 15031., 29332., 20280., 14390.,
         13565.,  1050., 28211.,  3006., 11463., 28284., 12471., 28090.,
         24844., 27885.]),
  array([ 1628.,  5756., 19381., 12350.,  6192.,  9061., 10884.,  9451.,
         12502., 15389.,  1095., 30081.,  4852.,  7284., 12268., 14604.,
          8810.,  9088., 10465.,  6183., 12352., 12642.,  3813., 10190.,
          9847.,  7595.,  5533., 15432.,  7684., 29332., 28284.,  8520.,
         25857., 11463., 14390., 28150.,  1050., 24093., 24844.,  9958.,
          7834., 27885., 18023., 25793., 25719., 28096.,  5315.,  1877.,
         12672., 26968.])],
 0.16)